@page
@model Lab3.Pages.OrderModel

<div class="text-center">

    <h1 class="display-3">Order</h1>
    <div class="text-left">
        <!-- if the Order is not null, display all order information present -->
        @if (Model.Order is not null)
        {
            <h2 class="display-4">Order Details</h2>
            <div>
                <p><strong>ID</strong>: @Model.Order.Id</p>
                <p><strong>Timestamp</strong>: @Model.Order.Date</p>
            </div>
            <h2 class="display-4">Customer Details</h2>
            <div>
                <p><strong>Customer Name</strong>: @Model.Order.Customer.Name</p>
                <p><strong>Building</strong> : @Model.Order.Location.Building</p>
                <p><strong>Room Number</strong> : @Model.Order.Location.RoomNumber</p>
                <p><strong>Location Notes</strong> : @Model.Order.Location.Notes</p>
                <p><strong>Order Status</strong> : @Model.Order.Status</p>
            </div>
            <h2 class="display-4">Item(s) Ordered</h2>
            <div>
                <table class="table  table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Price (Kr)</th>
                            <th scope="col">Item Count</th>
                        </tr>
                    </thead>
                    @foreach (var orderLine in @Model.Order.OrderLines)
                    {
                        <tbody>
                            <tr>
                                <td>@orderLine.Id</td>
                                <td>@orderLine.Item</td>
                                <td>@orderLine.Price</td>
                                <td>@orderLine.Count</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

            // If the order's Status is Placed, then provide a form to give a shippers name.
            @if (Model.Order.Status == Model.Placed)
            {
                <h2 class="display-4">Ship item</h2>
                <form method="post" class="mt-5">
                    <div class="mb-3">
                        Shipper name:
                        <input asp-for="Shipper.Name" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    @foreach (var error in Model.Errors)
                    {

                        <div class="text-danger">
                            @error
                        </div>
                    }
                </form>
            }
            // if the Status of the order is Shipped, then display the Shipper's name.
            else if (Model.Order.Status == Model.Shipped)
            {
                <h2 class="display-4">Shipping information</h2>
                <p>Item is being shipped by Shipper: @Model.Offer.Shipper.Name </p>
            }
        }
    </div>
</div>
